.main-chat
  .chat-main__group-info
    .chat-header__group
      .chat-header__group--name
        グループone
      .chat-header__group--member
        Member : でいす！西川　What's up なべ
    = link_to "Edit", "#", class: "chat-header__edit-btn"
  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "Form"}, local: true, class: "chat-form" do |form|
      .chat-form__box
        = form.text_field :content, placeholder: "type a message", class: "chat-form__box-text"
        = form.label :image, class: "chat-form__box-image" do
          = icon('far', 'image')
          = form.file_field :file, class: "image-icon"
      = form.submit value: "Send", class: "chat-form__btn"