.side-bar
  .side-bar__user-name
    .top-items
      %h3.top-items__name
        = current_user.name
      .top-items__icons
        = link_to new_group_path(current_user), class: "top-items__icons--btn" do
          = icon('fas', 'edit',  class: "top-items__icons--btn--icon")
        = link_to edit_user_path(current_user), class: "top-items__icons--btn" do
          = icon('fas', 'cog',  class: "top-items__icons--btn--icon")
  .side-bar__group-list
    .group-list
      .group-list__name
        グループone
      .group-list__message
        まだメッセージがありません
    .group-list
      .group-list__name
        グループtwo
      .group-list__message
        やはりメッセージはありません
    .group-list
      .group-list__name
        グループthree
      .group-list__message
        もうメッセージはきません
